$bgrcolor: rgb(222, 228, 225);
$primarycolor: rgb(29, 28, 28);
$success:#198754;

*{margin: 0; padding: 0; box-sizing:border-box ;}

.home{  
  .card{margin: 60px 5vw 5vw 5vw;
    border: 3px solid $success;
    position: absolute;}
    .slideContainer{
      width: 35vw;
      overflow: hidden;
      margin: auto;
      .screenshots{
        width: 105vw;
        position: relative;
        animation: slider 25s ease-in-out infinite;
        -webkit-animation: slider 25s ease-in-out infinite; ;
        -moz-animation: slider 25s ease-in-out infinite; ;
        &:hover{
          animation-play-state: paused;
          -webkit-animation-play-state: paused;
        }
        img{
          width: 33vw;
          padding: 1vw;
        }
      }
    }
    .header{
      padding: 2vw 0;
      justify-content: center;
      h1 {
        color:$success; 
        font-family:'Montserrat', sans-serif;
        letter-spacing: .1em;
        width: max-content;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .1em solid $primarycolor; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: auto; /* Gives that scrolling effect as the typing happens */
        animation: 
          typing 2.5s steps(30, end),
          blink-caret .8s step-end infinite;
        -webkit-animation: 
          typing 2.5s steps(30, end),
          blink-caret .8s step-end infinite; 
        -moz-animation: 
          typing 2.5s steps(30, end),
          blink-caret .8s step-end infinite;
        }}
    .content{
      font-size: 1.3rem;
      padding:5vh;
      overflow-wrap: normal;
      width: 90vw;
    }
    .btns{
        padding: 15px;
        justify-content: center;
        gap: 20px;
    }
}
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: $primarycolor }
  }

  @keyframes slider{
    0% {left: -1vw;}
    25% {left: -35vw;}
    50% {left: -69vw;}
    75% {left: -35vw;}
    100%{left:-1vw}
  }

  @media only screen and (max-width:600px){
    h1{
      font-size:1rem;
    }
    .content{
      font-size: 0.8rem;
    }
  }