@import '../Home.scss';

.dateslist{
    position: relative;
    .calendar{
        width: 40vw;
        margin: 0px 5vw;
        float: left;
        display: flex;
        flex-direction: column;
        .list{
            margin: 0;
            input:focus{box-shadow: none; border-color: $success;}
            #button-addon2{
                font-size: 16px;
                height: 40px;
                border: 1px solid gainsboro;}  
            .pickers{
                width: 40vw;
                display: flex;
                flex-direction: row;
                overflow: hidden;
                .react-datepicker__input-container{width: 19vw;margin-right: 2vw;}
                .react-datepicker__close-icon::after{background-color: $success; padding-top: 0 ;}
                .datepickerPopper{background-color: white; font-family: inherit;
                    .react-datepicker__navigation-icon{top: 5px;}
                    .react-datepicker__header{background-color: $bgrcolor;}
                    .react-datepicker__day--keyboard-selected, .react-datepicker__day--selected {background-color: $success;}
                    .react-datepicker__day--today{color: $success;}
                }
            }
        }
        .calendarMain{
            height:500px;
            width: 40vw;
            background-color: white;
            .rbc-toolbar{
                width: 40vw;
                display: flex;
                flex-direction:row;
                .rbc-btn-group button{
                    border: 1px solid #ced4da;
                    font-size: 0.8rem;
                    width: 5vw;
                    padding: 0.3rem 0.4rem;
                }
                .rbc-toolbar-label{
                    padding: 0.1rem;
                    width: 13vw; 
                    font-size: 0.9rem;
                }  
            }
            .rbc-month-header{
                .rbc-header{
                    background-color: $bgrcolor;
                    width: 15vw;
                    font-family: inherit;
                    font-weight: 400;
                    border: 1px solid #ced4da;
                }
            }
            .rbc-date-cell a{
                font-family: inherit;
                font-size: 0.9rem;
            }
            .rbc-today{background-color: $bgrcolor;}
            .rbc-event{background-color: $success;
                .rbc-event-content{font-size: 0.9rem;}
            }
        }
        .rbc-agenda-table th:nth-child(2),.rbc-agenda-time-cell  {display: none;}
        .rbc-show-more{color: $success;}
    }
    .fileupload{
        width: 40vw;
        margin: 0 4vw;
        float: right;
        border: 1px solid #ced4da; 
        color: $primarycolor;
        border-radius: 0.25rem; 
        height: 610px;
        background-color: white;
        .form-control{border-radius: 0;}
        .form-control:focus{border-color: $success;}
        .uploadPreview{
            display: flex;
            margin: 1vw;
            overflow: auto;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            min-height: 200px;
            max-height: 530px;
            .uploadedImg{
                border: 1px solid $bgrcolor;
                width: 11vw;
                margin: 5px;
                height:150px;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                position: relative;
                justify-content: center;
                border-radius: 0.4rem;
                img{
                    width: 10.5vw;
                    max-height:150px;
                    align-self: center;
                    padding: 5px;}
                button{
                    width: 2.5vw;
                    font-size: 1rem;
                    color:$primarycolor;
                    padding: 3px;
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    height: 25px;
                    opacity: 0.2;}
                button:hover{opacity: 1; background-color: rgb(250, 181, 174);}
            }
        }
        .uploadPreview::-webkit-scrollbar {width:8px; }
        .uploadPreview::-webkit-scrollbar-track {background: $success; border-radius: 0.3rem;}
        .uploadPreview::-webkit-scrollbar-thumb {background: $bgrcolor;border-radius: 0.3rem;}
    }
}
@media only screen and (max-width:992px){
    .dateslist{
        flex-direction: column;
        position: absolute;
    .calendar{
        width: 80vw;
        margin: 20px 10vw;
        .list{
            .pickers{
                width: 80vw;
                .react-datepicker__input-container{width: 38vw;}
                .react-datepicker__input-container:nth-child(1){margin-right: 4vw;}
            }}
        .calendarMain{
            width: 80vw;
            .rbc-toolbar{
                width: 80vw;
                flex-direction:column;
                .rbc-btn-group button{width: 20vw;}
                .rbc-toolbar-label{width: 26vw; }  
        }}
    }
    .fileupload{
        width: 80vw; 
        margin: 20px 10vw; 
        .uploadPreview{
            min-height: 23vw;
            .uploadedImg{height:15vw; width: 15vw;
                button{width:5vw}
        }}
        #button-addon2{font-size: 0.8rem;} 
}}}
